.LogInOUT {
  float: right;
  clear: both;
  display: inline;
  margin-right: 25px;
}
.nav-item {
  margin-right: 10px;
  margin-left: 10px;
  border: 3px;
}
.navBar {
  background-color: white;
  height: 5rem;
}
.title {
  text-align: center;
}
