.LogInOUT {
  float: right;
  clear: both;
  display: inline;
  margin-right: 2px;
}
.nav-item {
  margin-right: 10px;
  margin-left: 10px;
  border: 3px;
}
.navBar {
  background-color: white;
  height: 5rem;
  width: 150%;
  margin-right: 0px;
}
.title {
  text-align: center;
  margin-top: -30px;
  /* font-size: 48px; */
  font-weight: 500;
  /* font-family: cursive; */
}
.navLinks {
  margin-left: -20px;
}
@media only screen and (max-width: 1200px) {
  .title {
    margin-top: 5%;
    font-size: 52px;
  }
  .m-40 {
    margin: 5%;
    margin-top: 20%;
  }
}
@media only screen and (max-width: 400px) {
  .title {
    margin-top: 5%;
    font-size: 36px;
    float: left;
    clear: both;
  }
  .LogInOUT {
    margin-top: 35%;
  }
  .m-40 {
    margin: 5%;
    margin-top: 20%;
  }
  .navBar {
    text-align: center;
    height: unset;
  }
  .navLinks {
    display: block;
    margin: 3%;
  }
}
