/* body {
  background-color: green;
} */

/* Temporarily changed background color to provide enough contrast to see white elements */

.recipeform {
  margin-left: 20%;
}
p {
  font-size: 22px;
  margin-top: 15%;
}

.submit {
  margin-left: 5px;
}
